__pycache__/
db.sqlite3
__pypackages__/
acme-challenge
ssl_certs
postgres_database/
db_reserve
postgres
database
acme-challenge
media/*
cert/
postgres
!media/.gitkeep
# Environments
.env
.venv
env/
venv/
env/
.idea/
/staticfiles/
*.docx
*.pdf
