.text-date {
    font-size: 0.85rem !important;
}

.border-silver {
    border-color: #C0C0C0 !important;
}

#like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
