{% load widget_tweaks %}
    {# Input field #}
        <input type="text"
               name="{{ widget.name }}"
               value="{{ widget.value|stringformat:'s'|default_if_none:'' }}"
               class="form-control {{ widget.attrs.class }}"
               placeholder="تاریخ را انتخاب کنید"
               {% for attr, value in widget.attrs.items %}
                   {% if attr != 'class' %} {{ attr }}="{{ value }}" {% endif %}
               {% endfor %}
        >
    {# Errors #}
    {% if widget.errors %}
        <div class="invalid-feedback d-block">
            {% for error in widget.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}

{# Media (JS + CSS) for Jalali Calendar #}
{{ widget.media }}