{%extends '_base.html'%}
{% load c_jformat %}
{% load static %}
{% load crispy_forms_tags %}
{%block head%}
<title>ارسال تیکت پرسنل - کارگاه طلاسازی</title>
<link rel="stylesheet" href="{% static 'css/panel.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/django_jalali.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jalali-override.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script type="module" src="{% static 'js/employee_ticket.js' %}"></script>
{%endblock%}
{%block content%}
  <div class="container glass-element w-75 border border-1 rounded-3 shadow-lg my-5 p-0">
    <div class="card bg-transparent border-0">
      <!-- Header -->
      <div class="card-header text-center gold-gradient">
        <h1 class="fs-2 fw-bolder text-white my-3">ارسال تیکت پرسنل</h1>
      </div>
      <div class="card-body">
        <!-- Form input -->
        <div class="form-section">
          <form id="ticketForm" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-4 field-wrapper {% if field.name == 'employee' or field.name == 'status' %}hidden{% endif %}" data-field-name="{{ field.name }}">
                {{ field | as_crispy_field }}
              </div>
            {% endfor %}
    
            <button type="submit" class="btn gold-button w-100 mx-auto d-block">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path d="M2.317,10.332l3.982,3.982c0.394,0.394,1.022,0.424,1.451,0.07l10.653-8.786L9.617,16.25 c-0.354,0.429-0.324,1.058,0.07,1.451l3.982,3.982c0.559,0.559,1.509,0.348,1.779-0.395l6.486-17.837 c0.313-0.862-0.522-1.698-1.384-1.384L2.712,8.553C1.969,8.823,1.758,9.773,2.317,10.332z" fill="#5B5B5B" />
              </svg>
              ارسال
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{%endblock%}