name: Django project deploy

on:
  push:
    branches: [ "deployment" ]
  pull_request:
    branches: [ "deployment" ]

jobs:

  Deploy:
    name: deployment
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Connect to vps by ssh
      uses: appleboy/ssh-action@master
      with:
        username: ${{secrets.USERNAME}}
        password: ${{secrets.PASSWORD}}
        host: ${{secrets.HOST}}
        port: ${{secrets.PORT}}
        script: |
          cd ${{secrets.PROJECT_PATH}}
          docker-compose -f compose/docker-compose.prod.yml down || true
          docker rm -f redis-prod || true
          docker rm -f db-prod || true
          git pull origin deployment
          docker-compose -f compose/docker-compose.prod.yml up -d --build
      
